<p id="notice"><%= notice %></p>

<h1>Expert Evidences</h1>

<table>
  <thead>
    <tr>
      <th>Of date</th>
      <th>Number</th>
      <th>User</th>
      <th>Price</th>
      <th>Market price</th>
      <th>Accord</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @expert_evidences.each do |expert_evidence| %>
      <tr>
        <td><%= expert_evidence.of_date %></td>
        <td><%= expert_evidence.number %></td>
        <td><%= expert_evidence.user_id %></td>
        <td><%= expert_evidence.price %></td>
        <td><%= expert_evidence.market_price %></td>
        <td><%= expert_evidence.accord_id %></td>
        <td><%= link_to 'Show', expert_evidence %></td>
        <td><%= link_to 'Edit', edit_expert_evidence_path(expert_evidence) %></td>
        <td><%= link_to 'Destroy', expert_evidence, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Expert Evidence', new_expert_evidence_path %>
