<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_address.user_id %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user_address.address_id %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @user_address.kind %>
</p>

<%= link_to 'Edit', edit_user_address_path(@user_address) %> |
<%= link_to 'Back', user_addresses_path %>
