<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @person.last_name %>
</p>

<p>
  <strong>Identity card number:</strong>
  <%= @person.identity_card_number %>
</p>

<p>
  <strong>Mobil:</strong>
  <%= @person.mobil %>
</p>

<p>
  <strong>Personal identification number:</strong>
  <%= @person.personal_identification_number %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
