<%= form_with(model: repaymet_type, local: true) do |form| %>
  <% if repaymet_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(repaymet_type.errors.count, "error") %> prohibited this repaymet_type from being saved:</h2>

      <ul>
      <% repaymet_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
