<p id="notice"><%= notice %></p>

<h1>Commitment Types</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @commitment_types.each do |commitment_type| %>
      <tr>
        <td><%= commitment_type.description %></td>
        <td><%= link_to 'Show', commitment_type %></td>
        <td><%= link_to 'Edit', edit_commitment_type_path(commitment_type) %></td>
        <td><%= link_to 'Destroy', commitment_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Commitment Type', new_commitment_type_path %>
