<%= form_with(model: client_mobile, local: true) do |form| %>
  <% if client_mobile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(client_mobile.errors.count, "error") %> prohibited this client_mobile from being saved:</h2>

      <ul>
      <% client_mobile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :client_id %>
    <%= form.number_field :client_id %>
  </div>

  <div class="field">
    <%= form.label :mobile_id %>
    <%= form.number_field :mobile_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
