<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= @client_mobile.client_id %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @client_mobile.mobile_id %>
</p>

<%= link_to 'Edit', edit_client_mobile_path(@client_mobile) %> |
<%= link_to 'Back', client_mobiles_path %>
