<p id="notice"><%= notice %></p>

<p>
  <strong>Date of excepted payment:</strong>
  <%= @commitment.date_of_excepted_payment %>
</p>

<p>
  <strong>Payout day:</strong>
  <%= @commitment.payout_day %>
</p>

<p>
  <strong>Commitment type:</strong>
  <%= @commitment.commitment_type_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @commitment.description %>
</p>

<p>
  <strong>Accord:</strong>
  <%= @commitment.accord_id %>
</p>

<%= link_to 'Edit', edit_commitment_path(@commitment) %> |
<%= link_to 'Back', commitments_path %>
